body{
    background-color:#b2bec3;
    font-family: noto sans;
    color: snow;
    font-size: 10px;
    
}
span{
    font-family: noto sans;
    font-size: larger;
    font-weight: bolder;
}
.form,
.greetings{
    display: none;
    padding-bottom: 20px;
}
.showing{
    display: block;
}
.bgImage{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
} 

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

